.img1 {
    position: absolute;
    top: 0vh;
    left: 1.75vw;
    width: 30%;
    height: 54%;
    display: block;
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
    resize:none;
}

.img1:hover {
  background-image: url("7.jpg");
  resize:none;
}

.img2 {
    position: absolute;
    top: 0vh;
    left: 32.5vw;
    width: 35%;
    height: 54%;
    display: block;
    background-image: url(2.jpg);
    background-size: cover;
    background-position: center;
    resize:none;
}

.img2:hover {
  background-image: url("8.jpg");
  resize:none;
}

.img3 {
    position: absolute;
    top: 0vh;
    right: 1.75vw;
    width: 30%;
    height: 54%;
    background-image: url(3.jpg);
    background-size: cover;
    background-position: center;
    resize:none;
}

.img3:hover {
  background-image: url(9.jpg);
  resize:none;
}

.img4 {
    position: absolute;
    top: 55vh;
    bottom: 1vh;
    left: 1.75vw;
    width: 30%;
    height: 54%;
    background-image: url(4.jpg);
    background-size: cover;
    background-position: center;
    resize:none;
}

.img4:hover {
  background-image: url(10.jpg);
  resize:none;
  }

.img5 {
    position: absolute;
    top: 55vh;
    bottom: 1vh;
    left: 32.5vw;
    width: 35%;
    height: 54%;
    background-image: url(5.jpg);
    background-size: cover;
    background-position: center;
    resize:none;
}

.img5:hover {
  background-image: url(11.jpg);
  resize: none;
  }

.img6 {
    position: absolute;
    top: 55vh;
    bottom: 1vh;
    right: 1.75vw;
    width: 30%;
    height: 54%;
    background-image: url(6.jpg);
    background-size: cover;
    background-position: center;
    resize:none;
}

.img6:hover {
  background-image: url(12.jpg);
  }

  


@media (max-width: 711px) {
  .img2 {
    left: 0vw;
    top: 0vh;
    width: 411px;
    height: 500px;
  }

  .img1 {
    left: 0vw;
    top: 66vh;
    width: 411px;
    height: 500px;
  }

  .img3 {
      left: 0vw;
    top: 138vh;
    width: 411px;
    height: 500px;
  }
  .img5 {
    left: 0vw;
    top: 207vh;
    width: 411px;
    height: 500px;
  }
  .img4 {
      left: 0vw;
    top: 276vh;
    width: 411px;
    height: 500px;
  }
  .img6 {
    left: 0vw;
    top: 345vh;
    width: 411px;
    height: 500px;
  }

}



