.div {
	background-repeat: no-repeat;
}	

.background {  
	position: absolute;
	top: 0vw;
	left: 0vw;
	width: 100%;
	height: 110%;
	background-size: fill;
}
.puppersbackground {  
	position: absolute;
	top: 0vw;
	left: 0vw;
	width: 100%;
	height: 100%;
	background-size: fill;
}
.home {
	position: absolute;
	top: 1vw;
	right:1vw;
	display: block;
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
}

.back {
	position: absolute;
	top: 1vw;
	left:1vw;
	display: block;
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
}


.woofersbackground {  
	position: absolute;
	top: 0vw;
	left: 0vw;
	width: 100%;
	height: 100%;
	background-size: fill;
}

.title8 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: -7vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.woofertitle8 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: -7vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .1;
}

.title {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 1vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}


.woofertitle {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 1vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle2 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 9vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
}

.woofertitle222 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 9vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.title2 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 9vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
}

.title222 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 9vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: 0.05;
}

.title3 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 17vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle3 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 17vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title4 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 25vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle4 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 25vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title5 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 33vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle5 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 33vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title6 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 41vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle6 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 41vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title7 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 49vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle7 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 49vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.puppertitle {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 49vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.puppertitle3 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 49vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.puppertitle4 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 49vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.puppertitle5 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 49vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.puppertitle6 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 49vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.puppertitle7 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 49vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.puppertitle8 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 49vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.title9 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 54vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title10 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 62vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title11 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 70vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title12 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 78vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title13 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 86vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title14 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 94vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title15 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 102vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title16 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 110vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title17 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 118vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title18 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 126vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.title19 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 134vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.title20 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 142vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title21 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 150vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title22 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 158vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title23 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 166vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title24 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 174vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title25 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 182vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.title26 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 190vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 184px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.woofertitle9 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 54vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle10 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 62vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle11 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 70vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle12 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 78vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle13 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 86vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle14 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 94vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle15 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 102vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle16 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 110vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle17 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 118vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle18 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 126vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.woofertitle19 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 134vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}

.woofertitle20 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 142vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle21 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 150vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle22 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 158vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle23 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 166vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle24 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 174vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}
.woofertitle25 {
	color: cornflowerblue;
	position: absolute;
	left: 0.5vw;
	top: 182vw;
	font-family: Futura;
	font-weight: 700;
	font-size: 168px;
	line-height: 31px;
	text-align: center;
	opacity: .05;
}


.pupsillhouette {
	position: absolute;
	top: 25vw;
	left: 9vw;
	height: 30%;
	width: 20%;
	opacity: 1;
	display: block;
    background: url(puppersillhouette.png);
    background-position: center;
    object-fit: contain;
    transition: all 500ms ease-in-out;

}


.pupsillhouette:hover {
	opacity: 0;
}

.puplabel{
	position: absolute;
	top:275px;
	left: 67px;
	color: black; 
	opacity: 0;
	font-family: Futura;
	font-weight: 700;
	font-size: 40px;
	line-height: 31px;
	text-align: center;
}

.show{
	opacity: 1;

}

.pupphoto {
	position: absolute;
	top: 25vw;
	left: 9vw;
	height: 30%;
	width: 20%;
	display: block;
    background: url(pupperimg.png);
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat;
}



.doggophoto {
	position: absolute;
	top: 25vw;
	left: 39vw;
	height: 31%;
	width: 20.5%;
	display: block;
    background: url(doggoimg.png);
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat;

}
.doggosillhouette {
	position: absolute;
	top: 25vw;
	left: 39vw;
	height: 31%;
	width: 20.5%;
	opacity: 1;
	display: block;
    background: url(doggosillhouette.png);
    background-position: center;
    object-fit: contain;
    transition: all 500ms ease-in-out;
    background-repeat: no-repeat;

}


.doggosillhouette:hover {
	opacity: 0;
}

.doggolabel{
	position: absolute;
	top:283px;
	left: 73px;
	color: black; 
	opacity: 0;
	font-family: Futura;
	font-weight: 700;
	font-size: 40px;
	line-height: 31px;
	text-align: center;

}

.show{
	opacity: 1;

}


.woofersillhouette {
	position: absolute;
	top: 28vw;
	left: 71vw;
	height: 25%;
	width: 20.5%;
	opacity: 1;
	display: block;
    background: url(woofersillhouette.png);
    background-position: center;
    object-fit: contain;
    transition: all 500ms ease-in-out;
    background-repeat: no-repeat;

}

.woofersillhouette:hover {
	opacity: 0;
}

.wooferlabel{
	position: absolute;
	top:245px;
	left: 73px;
	color: black; 
	opacity: 0;
	font-family: Futura;
	font-weight: 700;
	font-size: 40px;
	line-height: 31px;
	text-align: center;

}

.show{
	opacity: 1;

}

.wooferphoto {
	position: absolute;
	top: 28vw;
	left: 71vw;
	height: 25%;
	width: 20.5%;
	display: block;
    background: url(wooferimg.png);
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat;

}


.puppermemes {
	position: absolute;
	top: 26vw;
	left: 22vw;
	width: 18vw;
	height: 20vw;
	display: block;
	background-position: center;
	object-fit: contain;
    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
	background-repeat: no-repeat;
}
.puppermemes:hover {
margin-top: -1vw;
}

.doggomemes {
	position: absolute;
	top: 26vw;
	left: 22vw;
	width: 18vw;
	height: 20vw;
	display: block;
	background-position: center;
	object-fit: contain;
    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
	background-repeat: no-repeat;
}

.doggomemes:hover {
margin-top: -1vw;
}


.woofermemes {
	position: absolute;
	top: 26vw;
	left: 22vw;
	width: 18vw;
	height: 20vw;
	display: block;
	background-position: center;
	object-fit: contain;
    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
	background-repeat: no-repeat;
}



.memeslabel{
	position: absolute;
	top:33.5vw;
	left:24.7vw;
	background-position: center;
	object-fit: contain;
	display: block;
	background-repeat: no-repeat;
	    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}


.puppervideos {
	position: absolute;
	top: 26vw;
	left: 57vw;
	width: 18vw;
	height: 20vw;
	display: block;
	background-position: center;
	object-fit: contain;
    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    background-repeat: no-repeat;
}

.puppervideos:hover {
margin-top: -1vw;
}
.doggovideos {
	position: absolute;
	top: 26vw;
	left: 57vw;
	width: 18vw;
	height: 20vw;
	display: block;
	background-position: center;
	object-fit: contain;
    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    background-repeat: no-repeat;
}

.doggovideos:hover {
margin-top: -1vw;
}
.woofervideos {
	position: absolute;
	top: 26vw;
	left: 57vw;
	width: 18vw;
	height: 20vw;
	display: block;
	background-position: center;
	object-fit: contain;
    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    background-repeat: no-repeat;
}

.woofervideos:hover {
margin-top: -1vw;
}

.show {
opacity: 1;
}

.Memes5 {
	position: absolute;
	top: -2.5vw;
	left: 17vw;
	width: 11vw;
	height: 18vw;
	background:url(test.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Memes5:hover {
margin-top: -1vw;
}

.Meme19 {
	position: absolute;
	top: -5vw;
	left: 46vw;
	width: 11vw;
	height: 21vw;
	display: block;
	background:url(19.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
	    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Meme19:hover {
margin-top: -1vw;
}

.Memes10 {
	position: absolute;
	top: 4vw;
	left: 73vw;
	width: 11vw;
	height: 12vw;
	display: block;
	background:url(10.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
	    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.Memes10:hover {
margin-top: -1vw;
}


.Memes12 {
	position: absolute;
	top: 17vw;
	left: 4vw;
	width: 11vw;
	height: 18vw;
	display: block;
	background:url(12.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
	    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.Memes12:hover {
margin-top: -1vw;
}

.Memes13 {
	position: absolute;
	top: 15vw;
	left: 21vw;
	width: 21vw;
	height: 17vw;
	display: block;
	background:url(13.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
	    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.Memes13:hover {
margin-top: -1vw;
}


.Meme24 {
	position: absolute;
	top: 22vw;
	left: 59vw;
	width: 11vw;
	height: 17vw;
	display: block;
	background:url(24.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
	    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Meme24:hover {
margin-top: -1vw;
}

.Meme25 {
	position: absolute;
	top: 18.5vw;
	left: 86vw;
	width: 11vw;
	height: 18vw;
	display: block;
	background:url(25.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
	    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Meme25:hover {
margin-top: -1vw;
}


.Meme26 {
	position: absolute;
	top: 36.5vw;
	left: 17vw;
	width: 13vw;
	height: 12vw;
	display: block;
	background:url(26.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
	    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Meme26:hover {
margin-top: -1vw;
}


.Meme27 {
	position: absolute;
	top: 37vw;
	left: 45vw;
	width: 15vw;
	height: 13vw;
	display: block;
	background:url(27.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
	    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.Meme27:hover {
margin-top: -1vw;
}

.Meme28 {
	position: absolute;
	top: 34.5vw;
	left: 69.5vw;
	width: 15vw;
	height: 18vw;
	display: block;
	background:url(28.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
	    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Meme28:hover {
margin-top: -1vw;
}

a {
	text-decoration: none;
}

.puppervidbackground {
	position: absolute;
	top: 0vw;
	left: 0vw;
	width: 100%;
	height: 100%;
	background-size: fill;
}


.puppervideo1 {
	position: absolute;
	top: 10vw;
	left: 6vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(pupper1.mp4);
	background-position: center;
	object-fit: contain;
}

.puppervideo2 {
	position: absolute;
	top: 10vw;
	left: 38vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(pupper2.mp4);
	background-position: center;
	object-fit: contain;
}

.puppervideo3 {
	position: absolute;
	top: 10vw;
	left: 71vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(pupper3.mp4);
	background-position: center;
	object-fit: contain;
}

.puppervideo4 {
	position: absolute;
	top: 34vw;
	left: 6vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(pupper4.mp4);
	background-position: center;
	object-fit: contain;
}

.puppervideo5 {
	position: absolute;
	top: 34vw;
	left: 38vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(pupper5.mp4);
	background-position: center;
	object-fit: contain;
}

.puppervideo6 {
	position: absolute;
	top: 34vw;
	left: 71vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(pupper6.mp4);
	background-position: center;
	object-fit: contain;
}



.doggovideos {
	position: absolute;
	top: 26vw;
	left: 57vw;
	width: 18vw;
	height: 20vw;
	display: block;
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
}


.Meme16 {
	position: absolute;
	top: 0.5vw;
	left: 17vw;
	width: 11vw;
	height: 18vw;
	display: block;
	background:url(16.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
		    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Meme16:hover {
margin-top: -1vw;
}


.Meme20 {
	position: absolute;
	top: -1vw;
	left: 46vw;
	width: 11vw;
	height: 21vw;
	display: block;
	background:url(20.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
	float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Meme20:hover {
margin-top: -1vw;
}


.Meme21 {
	position: absolute;
	top: 4vw;
	left: 73vw;
	width: 11vw;
	height: 12vw;
	display: block;
	background:url(21.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
		float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Meme21:hover {
margin-top: -1vw;
}


.Meme29 {
	position: absolute;
	top: 17vw;
	left: 4vw;
	width: 11vw;
	height: 18vw;
	display: block;
	background:url(29.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
		float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Meme29:hover {
margin-top: -1vw;
}

.Meme35 {
	position: absolute;
	top: 20vw;
	left: 25vw;
	width: 21vw;
	height: 17vw;
	display: block;
	background:url(35.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
		float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Meme35:hover {
margin-top: -1vw;
}

.Meme30 {
	position: absolute;
	top: 18vw;
	left: 61vw;
	width: 11vw;
	height: 17vw;
	display: block;
	background:url(30.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
		float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Meme30:hover {
margin-top: -1vw;
}

.Meme31 {
	position: absolute;
	top: 17vw;
	left: 86vw;
	width: 11vw;
	height: 18vw;
	display: block;
	background:url(31.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
		float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Meme31:hover {
margin-top: -1vw;
}

.Meme32 {
	position: absolute;
	top: 36.5vw;
	left: 16vw;
	width: 13vw;
	height: 12vw;	display: block;
	background:url(32.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
		float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.Meme32:hover {
margin-top: -1vw;
}


.Meme33 {
	position: absolute;
	top: 37vw;
	left: 45vw;
	width: 15vw;
	height: 13vw;
	display: block;
	background:url(33.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
		float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Meme33:hover {
margin-top: -1vw;
}

.Meme34 {
	position: absolute;
	top: 35.5vw;
	left: 71vw;
	width: 15vw;
	height: 18vw;
	display: block;
	background:url(34.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
		float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.Meme34:hover {
margin-top: -1vw;
}


.doggovideo1 {
	position: absolute;
	top: 10vw;
	left: 6vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(doggo1.mp4);
	background-position: center;
	object-fit: contain;
}

.doggovideo2 {
	position: absolute;
	top: 10vw;
	left: 38vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(doggo2.mp4);
	background-position: center;
	object-fit: contain;

}

.doggovideo3 {
	position: absolute;
	top: 10vw;
	left: 71vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(doggo3.mp4);
	background-position: center;
	object-fit: contain;
}

.doggovideo4 {
	position: absolute;
	top: 34vw;
	left: 6vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(doggo4.mp4);
	background-position: center;
	object-fit: contain;
}

.doggovideo5 {
	position: absolute;
	top: 34vw;
	left: 38vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(doggo5.mp4);
	background-position: center;
	object-fit: contain;
}

.doggovideo6 {
	position: absolute;
	top: 34vw;
	left: 71vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(doggo6.mp4);
	background-position: center;
	object-fit: contain;
}

.woofermemes {
	position: absolute;
	top: 25vw;
	left: 22vw;
	width: 18vw;
	height: 20vw;
	display: block;
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
				float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.woofermemes:hover {
margin-top: -1vw;
}



.woofervideos {
	position: absolute;
	top: 26vw;
	left: 57vw;
	width: 18vw;
	height: 20vw;
	display: block;
	background:url(videosicon.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
				float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.woofervideos:hover {
margin-top: -1vw;
}

.Meme36 {
	position: absolute;
	top: 9vw;
	left: 3vw;
	width: 21vw;
	height: 17vw;
	display: block;
	background:url(36.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
			float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.Meme36:hover {
margin-top: -1vw;
}


.Meme37 {
	position: absolute;
	top: 9vw;
	left: 34vw;
	width: 11vw;
	height: 17vw;
	display: block;
	background:url(37.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
			float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.Meme37:hover {
margin-top: -1vw;
}


.Meme38 {
	position: absolute;
	top: 10vw;
	left: 58vw;
	width: 11vw;
	height: 18vw;
	display: block;
	background:url(38.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
			float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.Meme38:hover {
margin-top: -1vw;
}


.Meme39 {
	position: absolute;
	top: 12.5vw;
	left: 80vw;
	width: 13vw;
	height: 12vw;
	display: block;
	background:url(39.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
			float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.Meme39:hover {
margin-top: -1vw;
}


.Meme40 {
	position: absolute;
	top: 30vw;
	left: 1.5vw;
	width: 21vw;
	height: 17vw;
	display: block;
	background:url(40.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
			float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.Meme40:hover {
margin-top: -1vw;
}

.Meme41 {
	position: absolute;
	top: 30.5vw;
	left: 35vw;
	width: 11vw;
	height: 17vw;
	display: block;
	background:url(41.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
			float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.Meme41:hover {
margin-top: -1vw;
}

.Meme42 {
	position: absolute;
top: 31.5vw;
	left: 58vw;
	width: 11vw;
	height: 18vw;
	display: block;
	background:url(42.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
			float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.Meme42:hover {
margin-top: -1vw;
}


.Meme43 {
	position: absolute;
	top: 34vw;
	left: 81vw;
	width: 13vw;
	height: 12vw;
	display: block;
	background:url(43.png);
	background-position: center;
	object-fit: contain;
	background-repeat: no-repeat;
			float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.Meme43:hover {
margin-top: -1vw;
}

.woofervideo1 {
	position: absolute;
	top: 10vw;
	left: 6vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(woofer1.mp4);
	background-position: center;
	object-fit: contain;
}

.woofervideo2 {
	position: absolute;
	top: 10vw;
	left: 38vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(woofer2.mp4);
	background-position: center;
	object-fit: contain;
}

.woofervideo3 {
	position: absolute;
	top: 10vw;
	left: 71vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(woofer3.mp4);
	background-position: center;
	object-fit: contain;
}

.woofervideo4 {
	position: absolute;
	top: 34vw;
	left: 6vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(woofer4.mp4);
	background-position: center;
	object-fit: contain;
}

.woofervideo5 {
	position: absolute;
	top: 34vw;
	left: 38vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(woofer5.mp4);
	background-position: center;
	object-fit: contain;
}

.woofervideo6 {
	position: absolute;
	top: 34vw;
	left: 71vw;
	width: 20vw;
	height: 25vw;
	display: block;
	background:url(woofer6.mp4);
	background-position: center;
	object-fit: contain;
}

